In [1]:
a=10

In [2]:
a='c'

In [4]:
type(a)

str

In [5]:
int('123')

123

In [6]:
print("Hello World")

Hello World

In [7]:
print(123)

123

In [8]:
print('hello World')

hello World

In [10]:
age=32
print("my age is:",age)

my age is: 32

In [15]:
##f string
print(f"My age is: {age}")

My age is: 32

In [25]:
## format()
name="krish"
age=32
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is krish and age is 32

In [8]:
name = "Prasad"
age= "27"
degree = "BE"
Masters = "MBA"
" My age is 27 and i have completed: my dgree of BE and i have completed my Masters in MBA the name of Prasad"

' My age is 27 and i have completed: my dgree of BE and i have completed my Masters in MBA the name of Prasad'

In [11]:
print(f"My age is {age} and i have completed: my degree of {degree}  and i have completed: Masters in {Masters} with the name of {name}")

My age is 27 and i have completed: my degree of BE  and i have completed: Masters in MBA with the name of Prasad

## control flow
### Decision making statements

In [13]:
## if statements
age=18
if age>=18:
    print("you are eligible to  vote")

you are eligible to  vote

In [16]:
## if statements
age=17
if age<18:
    print("you are not eligible to  vote")

you are not eligible to  vote

In [17]:
17<18

True

In [19]:
name=input("enter the name")

enter the name prasad lande

In [21]:
name

'prasad lande'

In [22]:
age=int(input("enter your age"))

enter your age 27

In [23]:
age

27

In [24]:
type(age)

int

In [25]:
## task
## take a input of age 
## check whethe age >=18 and age<=45
##display a message you are young blood

In [27]:
age= int(input("enter the age"))
if age >=18 and age<=45:
      print("you are young blood")

enter the age 27

you are young blood

In [28]:
35

35

In [33]:
age= int(input("enter the age"))
if age >=18 and age<=45:
      print("you are young blood")

enter the age 43

you are young blood

In [34]:
age= int(input("enter the age"))
if age >=18 and age<=45:
      print("you are young blood")

enter the age 55

In [35]:
## if else statement
age= int(input("enter the age"))
if age >=18 and age<=45:
      print("you are young blood")
else:
    print("Thank you for your time we will let you know")

enter the age 55

Thank you for your time we will let you know

In [36]:
## mall -input the product price 
##product > Rs. 750 20% off
## print the product  price 
## product <= Rs.750 30% off
## print the product  price

In [45]:
Product_price=int(input("product price is"))
if Product_price > 750:
    print("product price is {}".format(Product_price*0.80))
else:
     print("product price is {}".format(Product_price*0.70))

product price is 5000

product price is 4000.0

In [46]:

Product_price=int(input("product price is"))
if Product_price > 750:
    print("product price is {}".format(Product_price*0.80))
else:
     print("product price is {}".format(Product_price*0.70))

product price is 5000

product price is 4000.0

In [ ]:
Product_price=int(input("product price is"))
if Product_price > 750:
    print(f"product price is" {Product_price*0.80}")
else:
     print(f"product price is"{Product_price*0.70})